@tailwind base;
@tailwind components;
@tailwind utilities;


.pattern-bg {
  background-color: #ffffff;
  background-image: radial-gradient(rgba(0, 0, 0, 0.2) 1px, transparent 1px);
  background-size: 22px 22px;
}

